<a href="https://colab.research.google.com/github/minaldo15/Colab/blob/main/%EC%82%AC%EC%A0%84%ED%95%99%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬

## 3.함수

### 3.2 반환(return) 문

In [ ]:
#@title 이자(단리)

원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 이자를 구하는 함수 simple_interest()를 작성하세요.

In [ ]:
def simple_interest(p,r,t):
    return p * r * t

원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 원리금을 계산하는 함수 simple_interest_amount()를 작성하세요.

In [ ]:
def simple_interest_amount(p,r,t):
    return p*(1+r*t)
simple_interest(1000,0.1,5)

In [ ]:
#@title 이자(복리)

복리 예금의 원금(p), 연이율(r), 기간(t), 복리 횟수(n)에 대한 원리금을 계산하는 함수 compound_interest_amount()를 작성하세요.

In [ ]:
def compound_interest_amount(p,r,t,n):
    return p * (1 + r/n)**(n * t)
compound_interest_amount(1500000, 0.043, 6, 4)

1938836.8221341055

### 3.5 람다

In [ ]:
#@title 놀이공원

놀이 기구의 이름과 키 제한을 나타낸 문자열을 입력받아서, 놀이 기구의 이름, 탑승 가능한 키의 하한(下限)과 상한(上限)을 각 행에 출력합니다.

In [ ]:
def read(text):
    ridename, limit = map(str.strip, text.split(':'))
    
    cmmin = cmmax = None
    if '~' in limit:
        cmmin, cmmax = map(lambda x: int(x.replace('cm', '')), limit.split('~'))
    elif "이상" in limit:
        cmmin = int(limit.split("cm")[0])

    return ridename, cmmin, cmmax


if __name__ == "__main__":
    ridename, cmmin, cmmax = read(input())
    print("이름:", ridename)
    print("하한:", cmmin)
    print("상한:", cmmax)

## 4.데이터 타입

### 4.1 자료형

In [ ]:
#@title 회문 판별 함수

주어진 단어가 회문인지 판별하는 함수 palindrome()을 작성하세요. 단, 문자열 입력은 모두 소문자로 이뤄지며 공백을 포함하지 않는다고 가정합니다.

In [ ]:
def palindrome(s):
    s = s.lower()
    s = s.replace(' ', '')
    return s[:] == s[::-1]

if __name__ == '__main__':
    for x in ['anna', 'banana', 'Anna', 'My gym']:
        if palindrome(x):
            print(f"'{x}' is a panlindrome")
        else:
            print(f"'{x}' is not a palindrome")

### 4.2 문자열과 리스트

In [ ]:
#@title 각 자리 숫자의 합

정수 num을 매개변수로 받아 각 자리 숫자(digit)의 합을 계산하는 sumOfDigits() 함수를 작성하세요. 단, 나눗셈을 이용하지 말고 풀어보세요.

In [ ]:
#1
def sumOfDigits(num):
    sum = 0
    for c in list(str(num)):
        sum += int(c)

    return sum
    
#2
def sumOfDigits(num):
    abc = list(map(int, str(num)))
               
    return sum(abc)
    
print(sumOfDigits(456))

In [ ]:
#@title 줄기와 잎 그림

stem_leaf에 데이터를 채우는 프로그램을 작성하세요. 데이터가 채워진 결과는 다음과 같습니다.

In [ ]:
>>> stem_leaf
[[0, 0, 2, 4, 7, 7, 9], [1, 1, 3, 8], [0]]
>>> stem_leaf[0]
[0, 0, 2, 4, 7, 7, 9]
>>> stem_leaf[1]
[1, 1, 3, 8]
>>> stem_leaf[2]
[0]

stem_leaf를 다음과 같은 형태로 프린트하는 프로그램을 작성하세요.

In [ ]:
0: [0, 0, 2, 4, 7, 7, 9]
1: [1, 1, 3, 8]
2: [0]

In [ ]:
score = [0, 0, 2, 4, 7, 7, 9]
score += [11, 11, 13, 18]
score += [20]

stem_leaf = [[], [], []]

# ex 1

for s in score:
    d, m = divmod(s, 10)
    stem_leaf[d].append(m)

# ex 2

for i in range(len(stem_leaf)):
    print(f'{i}: {stem_leaf[i]}')

In [ ]:
#@title 소수 구하기

소수를 구하는 방법은 다음과 같습니다.

찾고자 하는 범위의 자연수를 나열한다.
2부터 시작하여, 2의 배수를 지워나간다.
다음 소수의 배수를 모두 지운다.

In [ ]:
def remove_prime(n):
    N = list(range(2, n + 1))
    for p in N:
        for n in N:
                if n != p and n % p == 0:
                    N.remove(n)

    print(N)

In [ ]:
#@title 진법 변환

십진수를 입력받아 그 숫자에 해당하는 이진수의 각 자리를 리스트로 출력하는 프로그램을 작성하세요. (순서에 유의)

In [ ]:
d = int(input())
m = d 
b = []

while True:
    d, m = divmod(d, 2) #d는 몫, m은 나머지
    b.insert(0, m)
    if d == 0:
        break

print(b)

### 4.3 튜플

In [ ]:
#@title 내일의 날

In [ ]:
def read_date():
    year, month, day = tuple(map(int, input().split()))
    return year, month, day

def print_date(date):
    year, month, day = date
    print("%02d/%02d/%04d" % (month, day, year))

def advance_day(date):
    year, month, day = date

    end_of_month = (month, day) in [(1, 31), (2, 28), (3, 31), (4, 30), (5,
        31), (6, 30), (7, 31), (8, 31), (9, 30), (10, 31), (11, 30), (12, 31)]
    
    end_of_year = month == 12 and day == 31
    
    if end_of_month:
        if end_of_year:
            year += 1
            month = 1
            day = 1
        else:
            month += 1
            day = 1
    else:
        day += 1
    
    return year, month, day
    
if __name__ == "__main__":
    today = read_date()
    print_date(today)
    tomorrow = advance_day(today)
    print_date(tomorrow)

2023 01 13
01/13/2023
01/14/2023

### 4.4 딕셔너리

In [ ]:
#@title 숫자 읽기